In [1]:
import pandas as pd

In [7]:
vendor = pd.read_csv("vendor_data.csv")

In [15]:
vendor.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [9]:
insurance = pd.read_csv("insurance_data.csv")

In [10]:
employee = pd.read_csv("employee_data.csv")

In [13]:
insurance.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [19]:
employee.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [29]:
#m1=pd.merge(insurance,employee,how='left',on='AGENT_ID',suffixes=('_CUSTOMER','_AGENT'))
#view=pd.merge(m1,vendor,on='VENDOR_ID',how='left')

In [30]:
#view.head()

# Task # 1

Merge the 3 dataset and create 1 view of data.
You can merge insurance_data.csv and employee_data.csv on
AGENT_ID You can merge insurance_data.csv and vendor_data.csv on
VENDOR_ID Note: Use left Outer join as not all claims require Vendor

In [27]:
df = insurance.merge(employee, how='left', on="AGENT_ID").merge(vendor, how='left', on="VENDOR_ID")

In [28]:
df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0

Task #2

Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [35]:
insurance.INSURANCE_TYPE.value_counts().head(3)

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

Task #3

Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [38]:
insurance.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID'],
      dtype='object')

In [40]:
insurance["RISK_SEGMENTATION"].value_counts()

L    4395
M    4150
H    1455
Name: RISK_SEGMENTATION, dtype: int64

In [44]:
insurance[insurance['RISK_SEGMENTATION']=='H']["STATE"].value_counts().head(5)

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

Task #4

Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0
Find the mean of this new column

In [46]:
df.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME', 'DATE_OF_JOINING',
       'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y', 'CITY_y', 'STATE_y',
       'POSTAL_CODE_y', 'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'VENDOR_NAME',
       'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [48]:
df['COLOCATION'] = (df['STATE_x']==df['INCIDENT_STATE'])&(df['INCIDENT_STATE']==df['STATE_y'])

In [49]:
df['COLOCATION']

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: COLOCATION, Length: 10000, dtype: bool

In [50]:
df['COLOCATION'].replace({False: 0, True: 1}, inplace=True)

In [52]:
df['COLOCATION'].value_counts()

0    9956
1      44
Name: COLOCATION, dtype: int64

In [53]:
#mean value of colocation
df['COLOCATION'].mean()

0.0044

Task #5

Data entry error was detected in the data and you are required to correct it. If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [61]:
update = df[(df['AUTHORITY_CONTACTED']!='Police') & (df['POLICE_REPORT_AVAILABLE']==1)].index

In [63]:
update

Int64Index([   5,   10,   11,   12,   16,   18,   19,   21,   22,   28,
            ...
            9975, 9977, 9979, 9984, 9990, 9991, 9993, 9995, 9997, 9998],
           dtype='int64', length=4870)

In [64]:
df.loc[update,'AUTHORITY_CONTACTED'] = 'Police'

In [66]:
df['AUTHORITY_CONTACTED']

0          Police
1       Ambulance
2          Police
3       Ambulance
4          Police
          ...
9995       Police
9996       Police
9997       Police
9998       Police
9999    Ambulance
Name: AUTHORITY_CONTACTED, Length: 10000, dtype: object

In [67]:
# Checking
df[(df['POLICE_REPORT_AVAILABLE']==1)&(df['AUTHORITY_CONTACTED']!='Police')]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_x, ADDRESS_LINE2_x, CITY_x, STATE_x, POSTAL_CODE_x, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_y, ADDRESS_LINE2_y, CITY_y, STATE_y, POSTAL_CODE_y, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

Task #6

Business wants to check the Claim Amount for deviation for each transaction, they would
like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
If there is less than 30 days of transaction history THEN
-1 Note: LAST_30DAYS does not include current day

In [68]:
df.TXN_DATE_TIME.max()

'2021-06-30 00:00:00'

In [69]:
df['TXN_DATE_TIME'] = pd.to_datetime(df['TXN_DATE_TIME'])

In [74]:
df['TXN_DATE_TIME']

0      2020-06-01
1      2020-06-01
2      2020-06-01
3      2020-06-01
4      2020-06-01
          ...
9995   2021-06-30
9996   2021-06-30
9997   2021-06-30
9998   2021-06-30
9999   2021-06-30
Name: TXN_DATE_TIME, Length: 10000, dtype: datetime64[ns]

In [81]:
df.TXN_DATE_TIME.max()

Timestamp('2021-06-30 00:00:00')

In [82]:
curr_date = pd.to_datetime('2021-06-30')

In [99]:
# df with last 30 days data
last_30 = df.loc[(df['TXN_DATE_TIME'] >= '2021-05-31') & (df['TXN_DATE_TIME'] < '2021-06-30')]

In [100]:
last_30.tail()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
9970,2021-06-29,TXN00009971,A00005227,PLC00004359,2010-09-20,2021-06-27,2021-06-27,Travel,54.14,5000,...,37027,52980550,PBOE57461807615642,Bartlett-Winters,113 Dove Lane,NaN,Savannah,GA,31406.0,0
9971,2021-06-29,TXN00009972,A00002887,PLC00003785,2020-01-16,2021-06-17,2021-06-22,Life,67.11,81000,...,20373,28060187,TDQU90289065114883,"Mendoza, Moran and Parker",6463 Vrain Street,NaN,Arvada,CO,80003.0,0
9972,2021-06-29,TXN00009973,A00009361,PLC00001736,2014-12-30,2021-06-14,2021-06-19,Travel,63.49,5000,...,6040,124190333,YFFY90307447508970,"Reeves, Brown and Burch",467 North Mountain Ranch Road,NaN,Fayetteville,AR,72704.0,0
9973,2021-06-29,TXN00009974,A00002159,PLC00006446,2016-08-12,2021-06-27,2021-06-27,Mobile,9.22,600,...,6040,71906146,WING80506589957019,NaN,NaN,NaN,NaN,NaN,NaN,0
9974,2021-06-29,TXN00009975,A00006567,PLC00002837,2015-08-27,2021-06-23,2021-06-25,Motor,115.60,10000,...,20778,70250107,XRKS19473964978781,"Meadows, Wiggins and Lewis",50 Winthrop Avenue,NaN,Lawrence,MA,1843.0,0

In [101]:
# Getting average claim of last 30 days insurance type wise and storing it in dictionary
average_claim = last_30.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT']

In [102]:
average_claim

INSURANCE_TYPE
Health      10904.411765
Life        52242.857143
Mobile        378.358209
Motor        5573.770492
Property    24627.906977
Travel       2800.000000
Name: CLAIM_AMOUNT, dtype: float64

In [106]:
pd.Timedelta(days=30)

Timedelta('30 days 00:00:00')

In [115]:
df['TXN_DATE_TIME'][1]

Timestamp('2020-06-01 00:00:00')

In [114]:
(curr_date - df['TXN_DATE_TIME'][1])

Timedelta('394 days 00:00:00')

In [103]:
# defining a function for calculating claim_deviation
def Claim_deviation(row):
    if (curr_date - row['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_deviation = average_claim[row['INSURANCE_TYPE']] / row['CLAIM_AMOUNT']
    if claim_deviation < 0.5:
        return 1
    else:
        return 0

In [104]:
# Applying the function to the dataframe
df['CLAIM_DEVIATION'] = df.apply(Claim_deviation,axis=1)

In [105]:
df.CLAIM_DEVIATION.value_counts()

 0    9216
-1     784
Name: CLAIM_DEVIATION, dtype: int64

Task #7

Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [147]:
agents_more_2 = df.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()>2

In [148]:
agents_more_2

AGENT_ID
AGENT00001     True
AGENT00002    False
AGENT00003     True
AGENT00004     True
AGENT00005     True
              ...
AGENT01196     True
AGENT01197     True
AGENT01198     True
AGENT01199     True
AGENT01200     True
Name: INSURANCE_TYPE, Length: 1200, dtype: bool

In [152]:
# selecting True ones 
agents_more_2 = agents_more_2[agents_more_2].index

In [153]:
agents_more_2

Index(['AGENT00001', 'AGENT00003', 'AGENT00004', 'AGENT00005', 'AGENT00006',
       'AGENT00007', 'AGENT00008', 'AGENT00009', 'AGENT00010', 'AGENT00011',
       ...
       'AGENT01191', 'AGENT01192', 'AGENT01193', 'AGENT01194', 'AGENT01195',
       'AGENT01196', 'AGENT01197', 'AGENT01198', 'AGENT01199', 'AGENT01200'],
      dtype='object', name='AGENT_ID', length=1164)

In [154]:
Top_agents = df.groupby('AGENT_ID').sum().loc[agents_more_2][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT',ascending=False)

In [155]:
Top_agents

            CLAIM_AMOUNT
AGENT_ID
AGENT00807        528800
AGENT00679        489000
AGENT00771        422100
AGENT00125        400400
AGENT00789        392900
...                  ...
AGENT00910         15500
AGENT00689         13700
AGENT00732         11300
AGENT00706         10800
AGENT00604          5500

[1164 rows x 1 columns]

Task #8

Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [159]:
initial = df['PREMIUM_AMOUNT'].sum()

In [160]:
types = view.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT']

In [161]:
types

INSURANCE_TYPE
Health      252455.73
Life        125621.22
Mobile       15191.42
Motor       165391.98
Property    202285.83
Travel      124139.77
Name: PREMIUM_AMOUNT, dtype: float64

In [162]:
# Mobile & Travel premium discounted by 10% that is 90% its original value
types['Mobile']*=0.9
types['Travel']*=0.9
# Health and Property premium increases by 7%
types['Health']*=1.07
types['Property']*=1.07
# Life and Motor premium increased by 2%
types['Life']*=1.02
types['Motor']*=1.02

In [163]:
types["Mobile"]

13672.278

In [165]:
final = sum(types)

In [166]:
final

908805.0042000001

In [169]:
# so overall change in percentage is 
print("overall precentage change is = ",(final - initial)*100 /initial)

overall precentage change is =  2.6798588543858517

Task #9

Business wants to give discount to customer who are loyal and under stress due to Covid
19. They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it
mean.

In [175]:
df['ELIGIBLE_FOR_DISCOUNT'] =(df['TENURE']>60)&(df['EMPLOYMENT_STATUS']=='N')&(df['NO_OF_FAMILY_MEMBERS']>=4)

In [176]:
df['ELIGIBLE_FOR_DISCOUNT']

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: ELIGIBLE_FOR_DISCOUNT, Length: 10000, dtype: bool

In [177]:
df['ELIGIBLE_FOR_DISCOUNT'].replace({False: 0, True: 1}, inplace=True)

In [178]:
df['ELIGIBLE_FOR_DISCOUNT']

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: ELIGIBLE_FOR_DISCOUNT, Length: 10000, dtype: int64

In [179]:
df.ELIGIBLE_FOR_DISCOUNT.mean()

0.0299

Task #10

Business wants to check Claim Velocity which is defined as follow
CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)
/ NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)
Note: LAST30DAYS & LAST3DAYS does not include current
day

In [182]:
curr_date-pd.Timedelta(days=4)

Timestamp('2021-06-26 00:00:00')

In [183]:
last_3_days = df.loc[(df['TXN_DATE_TIME'] >= curr_date-pd.Timedelta(days=3)) & (df['TXN_DATE_TIME'] < curr_date)]

In [185]:
last_3_days.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,ELIGIBLE_FOR_DISCOUNT
9897,2021-06-27,TXN00009898,A00005727,PLC00007733,2019-11-16,2021-06-14,2021-06-19,Property,114.82,17000,...,HUII66210152910986,NaN,NaN,NaN,NaN,NaN,NaN,0,-1,0
9898,2021-06-27,TXN00009899,A00003496,PLC00001925,2018-01-30,2021-06-15,2021-06-20,Motor,76.35,7000,...,HCQB64970746728804,Walker-Hines,824 Main Street,D,Manchester,CT,6040.0,0,-1,0
9899,2021-06-27,TXN00009900,A00006123,PLC00008473,2010-07-25,2021-06-21,2021-06-23,Mobile,9.10,300,...,QIJJ36053901151211,NaN,NaN,NaN,NaN,NaN,NaN,0,-1,0
9900,2021-06-27,TXN00009901,A00000856,PLC00002051,2010-10-18,2021-06-25,2021-06-25,Life,67.13,68000,...,MNQC41165368811882,Roberts Inc,10202 North 51st Drive,NaN,Glendale,AZ,85302.0,0,-1,0
9901,2021-06-27,TXN00009902,A00003636,PLC00008806,2013-09-26,2021-06-08,2021-06-13,Mobile,10.95,600,...,PHPT29879348970185,"Sanchez, Nichols and Robinson",949 South Lawrence Street,NaN,Montgomery,AL,36104.0,0,-1,0

In [186]:
All_claims30D = pd.DataFrame.from_dict(last_30.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [187]:
All_claims30D

          NO_OF_CLAIMS_IN_LAST30DAYS
Health                           136
Life                             140
Mobile                           134
Motor                            122
Property                         129
Travel                           125

In [202]:
All_claims3D = pd.DataFrame.from_dict(last_3_days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [203]:
All_claims3D

          NO_OF_CLAIMS_IN_LAST3DAYS
Health                           14
Life                             14
Mobile                           10
Motor                            13
Property                         13
Travel                           14

In [216]:
total_claims=All_claims30D.join(All_claims3D)

In [217]:
total_claims['CLAIM_VELOCITY'] = total_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/total_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [218]:
total_claims

,NO_OF_CLAIMS_IN_LAST30DAYS,NO_OF_CLAIMS_IN_LAST3DAYS,CLAIM_VELOCITY
Health,136,14,9.714286
Life,140,14,10.000000
Mobile,134,10,13.400000
Motor,122,13,9.384615
Property,129,13,9.923077
Travel,125,14,8.928571

Task #11

Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [232]:
bottom = df.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']

In [233]:
bottom

30395.0

In [236]:
Agent_grouped_data = df.groupby('AGENT_ID').sum()

In [237]:
Agent_grouped_data

,PREMIUM_AMOUNT,CLAIM_AMOUNT,POSTAL_CODE_x,AGE,TENURE,NO_OF_FAMILY_MEMBERS,ROUTING_NUMBER,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_HOUR_OF_THE_DAY,POSTAL_CODE_y,EMP_ROUTING_NUMBER,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,ELIGIBLE_FOR_DISCOUNT
AGENT_ID,,,,,,,,,,,,,,,,
AGENT00001,678.43,85500,608359,452,716,51,666535715,7,10,104,56770,345849580,405556.0,0,-2,1
AGENT00002,187.48,84000,98606,126,170,9,216003092,2,3,37,97212,322091289,0.0,0,0,0
AGENT00003,879.39,170300,550288,448,825,50,869300559,8,7,112,799711,899185067,353933.0,0,0,0
AGENT00004,959.01,297600,760766,623,995,55,918911799,11,9,141,388848,810765252,384736.0,0,-2,2
AGENT00005,524.82,45000,72585,221,524,22,304269316,5,4,54,180550,574756585,372593.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AGENT01196,1107.19,274000,520368,474,442,39,697583096,7,7,102,200080,321379380,246818.0,0,0,0
AGENT01197,536.82,156600,278167,282,507,26,461840846,3,6,69,216642,424780122,222398.0,0,0,0
AGENT01198,724.28,196400,304691,238,443,32,573544520,5,4,57,149807,874957384,153207.0,0,0,0
AGENT01199,903.30,164700,400930,390,552,37,595102223,5,8,78,640032,155392472,220662.0,0,-1,0
AGENT01200,844.98,100900,345362,469,732,57,650329977,10,9,120,231407,134496340,236926.0,0,-2,0

In [241]:
# Low performing agent data
low_performing_agents = Agent_grouped_data[Agent_grouped_data['CLAIM_AMOUNT']<=bottom]['CLAIM_AMOUNT']

In [244]:
low_performing_agents.head()

AGENT_ID
AGENT00006    22400
AGENT00014     7400
AGENT00016    27000
AGENT00085    25700
AGENT00088    27700
Name: CLAIM_AMOUNT, dtype: int64

Task #12

Business wants to find all Suspicious Employees (Agents).
IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified
as Suspicious ELSE Not
CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
AND INCIDENT_SEVERITY = “Major Loss”
If Suspicious, then 1 ELSE 0. Find mean of this column.

In [254]:
condition1=(df['CLAIM_STATUS']=='A')&(df['RISK_SEGMENTATION']=='H')&(df['INCIDENT_SEVERITY']=='Major Loss')

In [258]:
grouped_suspicion_data =df[condition1].groupby('AGENT_ID').sum()

In [259]:
suspicious_agents = list(grouped_suspicion_data[grouped_suspicion_data['CLAIM_AMOUNT']>=15000].index)

In [ ]:
suspicious_agents

In [263]:
employee.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [266]:
employee['sus'] = 0

In [272]:
def check(row):
  if row["AGENT_ID"] in suspicious_agents:
    return 1
  else:
    return 0

In [273]:
employee["sus"] = employee.apply(check,axis=1) # applying function to get suspucious employees

In [274]:
employee["sus"].mean()

0.12416666666666666